/* .filterContainer {
  padding-top: 93px;
} */

.linkDecoration {
  text-decoration: none;
}

.form-check-input:checked {
  background-color: black;
  border-color: black;
}

/* Customize the range track */
.form-range {
  --bs-range-bg: black; /* Change the track background */
  --bs-range-thumb-bg: black; /* Change the thumb background */
  --bs-range-thumb-border-color: black; /* Change the thumb border color */
}

/* Customize the range thumb */
.form-range::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black; /* Thumb color */
  border: 2px solid black; /* Thumb border */
}

.form-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black; /* Thumb color */
  border: 2px solid black; /* Thumb border */
}

.equal-height-img {
  height: 300px; /* Set the desired height */

  object-fit: contain; /* Ensures that the image covers the area without stretching */
}

.image-container {
  position: relative;
  display: inline-block;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust text color */
  font-size: 2.5rem; /* Adjust text size */

  padding: 10px;
  border-radius: 5px;
  text-align: center;
  opacity: 0.8; /* Adjust opacity of text */
}

body {
  overflow-x: hidden;
}
